#skills {
  justify-content: center;
  align-items: center;
  position: absolute;
}

.lander,
.about,
.experience,
.portf,
.contactdiv {
  min-height: 100vh;
  margin: 0;
}

.card-subheading {
  font-size: x-small;
}

.card-text {
  font-size: smaller;
}

.hashlink-active,
.hashlink-active:hover {
  color: white;
}

.hashlink-active-email,
.hashlink-active-email:hover {
  color: black;
}

.about,
.portf {
  background-color: #ced4da;
}
